.okk {
    font-weight:bolder;
    color:rgb(0, 253, 13);
    }

.nok {
    font-weight:bolder;
    color:red;
    }

.oran {
    font-weight:bolder;
    color:rgb(255, 145, 0);
    }


.name{
    width:100%;
    border-bottom: solid 1px rgb(187, 187, 187);
}
.boxbox{
    border: solid 1px rgb(187, 187, 187);
}
.boxunder{
    border-bottom: solid 1px rgb(187, 187, 187);
}
.pan{
    width:100%;
}
.outer {
    display: flex;
    justify-content: center;
  }

  .up {
    height: 200px;
  }

  .sero{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction:column;

  }
  .mb{
    margin-bottom:200px;
  }

  .container {
    /* 모달창 크기 */
    width: 300px;
    height: 200px;
  
    /* 최상단 위치 */
    z-index: 999;
    
    /* 중앙 배치 */
    /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
    /* translate는 본인의 크기 기준으로 작동한다. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    /* 모달창 디자인 */
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
  }