.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 82px;
    padding: 0 16px;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: solid 3px rgb(37, 37, 37);
  }

.logo {
    padding-left: 16px;
  }